.markerIcon {
  width: fit-content;
  padding: 5px;
  background-color: black;
  border: 2px solid #ffe3dd;
  border-radius: 50px;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

button {
  background-color: transparent;
  border-style: none;
  cursor: pointer;
}

.editButton {
  width: 100%;
  height: 100%;
  padding: 0;
  background-color: transparent;
  border-radius: 50px;
  text-align: right;
  cursor: pointer;
  opacity: 0.5;
  position: absolute;
  right: 0;
}

.expanded {
  padding: 3px 40px;
}
