.mapboxgl-marker {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.MarkerHead {
  font-size: 1rem;
  padding: 10px;
  border: none;
  border-radius: 15px;
  background-color: black;
  position: absolute;
  bottom: 33px;
  cursor: pointer;
}
.MarkerHead:focus {
  outline: none;
}

.active {
  z-index: 2;
}

.marker-options {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.MarkerInput {
  padding: 20px;
  background-color: black;
  position: relative;
  z-index: 2;
}
